# Testing out sample Query

In [1]:
from time import time
import configparser
import pandas as pd
import os

In [2]:
%load_ext sql

## Get the params of the created redshift cluster

In [3]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
KEY=config.get('AWS','key')
SECRET= config.get('AWS','secret')

DWH_DB= config.get("CLUSTER","DB_NAME")
DWH_DB_USER= config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD= config.get("CLUSTER","DB_PASSWORD")
DWH_PORT = config.get("CLUSTER","DB_PORT")

In [4]:
DWH_ENDPOINT=config.get("CLUSTER","HOST")

DWH_ROLE_ARN=config.get("IAM_ROLE","ARN")

## Connect to the Redshift Cluster

In [5]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://awsuser:!Solidsnake92@project3-staging.cyggpvwigjiw.us-west-2.redshift.amazonaws.com:5439/sparkify_project

'Connected: awsuser@sparkify_project'

## Test Sample Query 1 - User with most songplay

In [6]:
%%sql
SELECT U.first_name, U.last_name, COUNT(1) as songplay_num  
FROM songplays SP JOIN users U ON SP.user_id = U.user_id 
GROUP BY SP.user_id, U.first_name, U.last_name 
ORDER BY songplay_num DESC 
LIMIT 1;

 * postgresql://awsuser:***@project3-staging.cyggpvwigjiw.us-west-2.redshift.amazonaws.com:5439/sparkify_project
1 rows affected.

[('Chloe', 'Cuevas', 74746854)]

## Test Sample Query 2 -  Location with most artists

In [7]:
%%sql
SELECT artist_location, COUNT(*) AS artist_num 
FROM artists 
WHERE TRIM(artist_location) IS NOT NULL 
GROUP BY artist_location 
ORDER BY artist_num DESC LIMIT 1;

 * postgresql://awsuser:***@project3-staging.cyggpvwigjiw.us-west-2.redshift.amazonaws.com:5439/sparkify_project
1 rows affected.

[('London, England', 147)]